@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">About FlyIndia</h2><br /><br />

    <p>FlyIndia is a Flight Booking Website created using ASP.Net Model-View-Controller approach.
    This is a part of Capgemini's iTransform-2023 Internship Program.<br />
    This website is created by a group of 3 members : Yash Khandelwal, Aayush Bahurupi & Sanchi Kamble; guided by our mentor : Snehal Pagare.</p>

    <br /><br />
    <p>Contact Us :</p>
    <p>Yash Khandelwal - yash-mukesh.khandelwal@capgemini.com<br />
    Aayush Bahurupi - aayush.bahurupi@capgemini.com<br />
    Sanchi Kamble - sanchi.kamble@capgemini.com</p>
</main>